<h1>Map#edit</h1>
<p>Form for map details</p>
<p>Form to add annotation in a modal</p>

<p><%= @map.inspect %></p>

<hr>
<p>Create New Annotation</p>

<%= render 'annotations/new', map: @map %>

<hr>
<p>List of annotations</p>

<%= render 'annotations/index', map: @map%>



