
<section class="section">
  <div class="container is-fluid">
    <h1>Map#show</h1>
      <div id="human-content">
        <iframe id="embeddedHuman" src="https://human.biodigital.com/widget?<%= @widgetInfo%>&dk=7c93e81cdef1f39018ed9ab3d8359f4f88835131">
        </iframe>
      </div>
      <div id="head">head</div>
      <div id="ear">ear</div>
    <div class="summary">Summary: <%= @map.summary %><div>
    <div class="summary">Article: <%= @map.article %><div>
      
  </div>
</section>

  





<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://developer.biodigital.com/builds/human-components/1.0.0/js/human-components.min.js"></script>
<script src="https://developer.biodigital.com/builds/api/2/human-api.min.js"></script>

<script>
var human = new HumanAPI("embeddedHuman");

//THIS SHIT WORKS YES...I mean it gets the object data shown in the model
//   human.send("scene.info", function (data) {
//     console.log(JSON.stringify(data));
// });

//configures and enables the tools in the 3d model
var displayConfig = { 
  objectTree: true, 
  info: true, 
  tools :true, 
  zoomIn: false, 
  zoomOut: false,
};

human.send("ui.setDisplay", displayConfig);



$('#head').click(function(){

	human.send( 'camera.set' , {
  		objectId: "male_system_anatomy_skeletal_whole-frontal_ID"
  	})
  	human.send('scene.selectObjects',{
  		"male_system_anatomy_skeletal_whole-frontal_ID": true
  	})
	human.send( 'camera.zoom' , .9)
});

$('#ear').click(function(){
	human.send( 'camera.set' , {
  		objectId: "male_system_anatomy_connective_tissue_whole-left_ear_ID"
  	})
  	human.send('scene.selectObjects',{
  		"male_system_anatomy_connective_tissue_whole-left_ear_ID": true
  	})
	human.send( 'camera.zoom' , .9)
});

human.on("scene.picked", function(info){
		console.log(info)
	})


</script>
