
<div class="container is-fluid column lr-pads">
	<div class="box">
		<label class="label ">Annotations on this Map</label>
		<section class="tb-pads spacer"></section>
		<div class="bottomMargin killThePad">
			<div class=" columns lr-med-pads">
				<div class="column is-one-fifth left has-text-weight-bold">Object</div>
				<div class="column is-half left has-text-weight-bold">Description</div>
			</div>
		</div>
		<% map.annotations.each do |a| %>
			<div class="box killThePad ">
				<div class="columns lr-med-pads  ">
					<div class="column is-one-fifth has-text-weight-bold left"><%= a.title %></div>
					<div class="column is-half left"><%= a.description %></div>
					<div class="column">
						<%= link_to "Delete", annotation_path(a), method: :delete %>
					</div>
				</div>
			</div>
		<% end %>
		<section class="tb-nudge spacer"></section>
	</div>
</div>
