body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

#embeddedHuman{
  width:500px;
  height: 600px;
}

/*#human-content {
  float: left;
  border-right: 1px solid black;
  padding-right: 20px;
  margin-right: 20px;
}*/

/*iframe {
  width: 300px;
  height: 300px;
  border: none;
}*/

/*#human-info {
  width: 300px;
  height: 200px;
  color: #fff;
  background-color: #444;
}*/

/*#human-info h1 {
  font-size: 18px;
  margin: 0;
}

#human-info ul {
  padding: 5px;
  margin: 0;
  overflow: auto;
  height: inherit;
  font-size: 14px;
}

#human-info li {
  display: none;
}*/