body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

#embeddedHuman{
  max-width:480px;
  height: 420px;
}

/*.homePage{
  background-image: image-url("homepage-bkg.gif");
  background-size: cover;
  height: 100vh;
  opacity: 60%;
}*/