/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Lato', sans-serif;
*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

#embeddedHuman{
  max-width:480px;
  height: 420px;
}

.thumb{
	width: 40px;
	border-radius: 50%;
	border: 1px solid white;

}

.navSuper{
	.level:not(:last-child){
		margin: 0;
	}
}

.nav{
	height: 60px;
	background-color: black;
	text-align: right;
}

.nav-wrapper{
	display: inline-block;
}

.nav-item{
	margin: 0 10px;
	a{
		color: white;
	};
	strong{
		color: white;
	}
}


.homePage{
	height: 100vh;
  	/*background-image: image-url("homepage-bkg.gif");
  	background-size: cover;
  	opacity: 60%;*/
}